<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="TestConnectionString" connectionString="Database=Test_Noah;Server=localhost;Trusted_Connection=yes;connection timeout=15" />
    <add name="Test_NoahConnectionString" connectionString="Data Source=localhost;Initial Catalog=Test_Noah;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="OutputSqlCommandParameter" value="1"/>
    <add key="SqlDataSourceCommandEventCheck" value="0"/>
    <add key="ShowTableKeyID" value="1"/>
  </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
</configuration>
